.profile-header-section {
    position: relative;
}

.avatar {
    float: right;
    height: 30px;
    position: absolute;
    right: 0px;
    top: -10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}