body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    .MuiButton-containedPrimary {
        background-color: #43df9e;
    }
    .MuiFormLabel-root.Mui-focused {
        color: #43df9e;
    }
    .MuiButton-containedPrimary:hover {
        background-color: #5ae8c0;
    }
    .MuiInput-underline:after {
        border-bottom: 2px solid #43df9e;
    }

    .logo-text {
        font-family: "Colombo";
        font-size: 45px;
    }
}

/* utility classes */
.div-inline-center {
    display: inline-block;
    margin: 0 auto;
}
.text-center {
    text-align: center;
}
l {
    font-size: larger;
}

@font-face {
    font-family: "Colombo";
    src: url("./assets/fonts/Colombo/ColomboSansFont.eot");
    src: url("./assets/fonts/Colombo/ColomboSansFont.woff") format("woff"),
    url("./assets/fonts/Colombo/ColomboSansFont.otf") format("opentype");
}